  <div>
    <h1>{{section.settings.section-title}}</h1>
  </div>

  <div class="information-container-img">
    <div>
      <img src="{{section.settings.image1| img_url:'master'}}"/>
    </div>
    <div>
      <img src="{{section.settings.image2| img_url:'master'}}"/>
    </div>
    <div>
      <img src="{{section.settings.image3| img_url:'master'}}"/>
    </div>
    <div>
      <img src="{{section.settings.image4| img_url:'master'}}"/>
    </div>
  </div>

{% schema %}
  {
    "name": "Section name",
    "settings": [
      { 
        "type": "text",
        "id": "section-title" ,
        "label": "Section Title"
      },
      {

        "type": "richtext",
        "id": "information-text",
        "label": "Text",
        "default": "<p>Type here</p>"

      },
      {
        "type": "image_picker",
        "id": "image1",
        "label": "image 1"
      },
      {
        "type": "image_picker",
        "id": "image2",
        "label": "image 2"
      },
	  {
        "type": "image_picker",
        "id": "image3",
        "label": "image 3"
      },
	  {
        "type": "image_picker",
        "id": "image4",
        "label": "image 4"
      }
  ],
    "presets": [{
    "name": "Company Information",
    "category": "Advanced"
}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
