
{% if section.settings.section-title != black %}
  <div class="header-container">
    <h1>{{section.settings.section-title | escape}}</h1>
  </div>
{% endif %}


  <div class="information-columns-container">
    {% for block in section.blocks %}
      {% if block.settings.image != blank %}
        <div class="information-columns-item">
          <img class="information-columns-img" src="{{block.settings.image1| img_url:'master'}}"/> 
          <div class="information-columns-textblock">
            <h3>{{block.settings.title1}}</h3>
            {{block.settings.rich-text1}}
          </div>  
        </div>
      {% endif %}
    {% endfor %}
  </div>

<!-- 
  <div class="information-columns-container">
    <div class="information-columns-item">
      <img class="information-columns-img" src="{{section.settings.image1| img_url:'master'}}"/> 
      <div class="information-columns-textblock">
        <h3>{{section.settings.title1}}</h3>
        {{section.settings.rich-text1}}
      </div>
    </div>  
    <div class="information-columns-item">
      <img class="information-columns-img" src="{{section.settings.image2| img_url:'master'}}"/>
      <div class="information-columns-textblock">  
        <h3>{{section.settings.title2}}</h3>
        {{section.settings.rich-text2}}
      </div>  
    </div>
    <div class="information-columns-item">
      <img class="information-columns-img" src="{{section.settings.image3| img_url:'master'}}"/>
      <div class="information-columns-textblock">  
        <h3>{{section.settings.title3}}</h3>
        {{section.settings.rich-text3}}
      </div>
    </div>
    <div class="information-columns-item">
      <img class="information-columns-img" src="{{section.settings.image4| img_url:'master'}}"/>
      <div class="information-columns-textblock">
        <h3>{{section.settings.title4}}</h3>
        {{section.settings.rich-text4}}
      </div>
    </div>
  </div> -->

<!--  
      { 
        “type”: “text”,
        “id”: “title1" ,
        “label”: “Paragraph Title 1"
      },
      { 
        “type”: “text”,
        “id”: “title2" ,
        “label”: “Paragraph Title 2"
      },
      { 
        “type”: “text”,
        “id”: “title3" ,
        “label”: “Paragraph Title 3"
      },
      { 
        “type”: “text”,
        “id”: “title4" ,
        “label”: “Paragraph Title 4"
      },
      {

        “type”: “richtext”,
        “id”: “rich-text1",
        “label”: “Rich Text 1",
        “default”: “<p>Type here</p>”

      },
	  {

        “type”: “richtext”,
        “id”: “rich-text2",
        “label”: “Rich Text 2",
        “default”: “<p>Type here</p>”

      },
      {

        “type”: “richtext”,
        “id”: “rich-text3",
        “label”: “Rich Text 3",
        “default”: “<p>Type here</p>”

      },
      {

        “type”: “richtext”,
        “id”: “rich-text4",
        “label”: “Rich Text 4",
        “default”: “<p>Type here</p>”

      },
      {
        “type”: “image_picker”,
        “id”: “image1",
        “label”: “image 1"
      },
      {
        “type”: “image_picker”,
        “id”: “image2",
        “label”: “image 2"
      },
	  {
        “type”: “image_picker”,
        “id”: “image3",
        “label”: “image 3"
      },
	  {
        “type”: “image_picker”,
        “id”: “image4",
        “label”: “image 4"
      }-->

{% schema %}
  {
  	"name": "Collumns with Image",
  	"settings": [{
  		"type": "text",
  		"id": "section-title",
  		"label": "Section Title"
  	}],
  	"blocks": [{
  		"name": "Text Block",
  		"type": "text_block",
  		"settings": [{
  				"type": "text",
  				"id": "title1",
  				"label": "Paragraph Title 1"
  			},
  			{

  				"type": "richtext",
  				"id": "rich-text1",
  				"label": "Rich Text 1",
  				"default": "<p>Type here</p>"

  			},
  			{
  				"type": "image_picker",
  				"id": "image1",
  				"label": "image 1"
  			}
  		]

  	}],
  	"presets": [{
  		"name": "Collumns with Image",
  		"category": "Advanced"
  	}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
