<div class="grid-title-container">
  <h1>{{section.settings.section-title | escape}}</h1>
</div>

<div class="grid-container">
  <img class="img-1" src="{{section.settings.image1| img_url:'master'}}"/>
  <img class="img-2" src="{{section.settings.image2| img_url:'master'}}"/> 
  <img class="img-3" src="{{section.settings.image3| img_url:'master'}}"/> 
  <img class="img-4" src="{{section.settings.image4| img_url:'master'}}"/> 
  <img class="img-5" src="{{section.settings.image5| img_url:'master'}}"/> 
  <img class="img-6" src="{{section.settings.image6| img_url:'master'}}"/> 
  <img class="img-7" src="{{section.settings.image7| img_url:'master'}}"/> 
</div>



{% schema %}
{
	"name": "Instagram Grid Section",
	"settings": [{
            "type": "text",
  		    "id": "section-title",
  		    "label": "Section Title"
        },
        {
			"type": "image_picker",
			"id": "image1",
			"label": "Grid image 1"
		},
		{
			"type": "image_picker",
			"id": "image2",
			"label": "Grid image 2"
		},
		{
			"type": "image_picker",
			"id": "image3",
			"label": "Grid image 3"
		},
		{
			"type": "image_picker",
			"id": "image4",
			"label": "Grid image 4"
		},
		{
			"type": "image_picker",
			"id": "image5",
			"label": "Grid image 5"
		},
		{
			"type": "image_picker",
			"id": "image6",
			"label": "Grid image 6"
		},
		{
			"type": "image_picker",
			"id": "image7",
			"label": "Grid image 7"
		}
	],
	"presets": [{
		"name": "Instagram Image grid",
		"category": "Advanced"
	}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
